[user]
  email = siriusdely@icloud.com
  name = Sirius Dely
[core]
  editor = /usr/bin/vim
  autocrlf = input
  excludesfile = /Users/sirius/.gitignore_global
[cinnabar]
  helper = /Users/sirius/.mozbuild/git-cinnabar/git-cinnabar-helper
[url "git@bitbucket.org:"]
  insteadOf = https://bitbucket.org/
[merge]
	tool = vimdiff
